{% extends ":template:layout.html.twig" %}

{% block title %}Stock Locations{% endblock %}

{% block page_title %}
    Stock Locations
{% endblock page_title %}

{% block page_name %}
    Stock Locations
{% endblock page_name %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-success" style="margin-bottom: 15px;">
                <a href="{{ path('admin_stocklocation_new') }}">Create a new entry</a>
            </button>
            <div class="table">
                <table id="part-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stockLocation in stockLocations %}
                        <tr>
                            <td>{{ stockLocation.name }}</td>
                            <td>
                                <ul>
                                    <a class="btn btn-default btn-xs purple"
                                       href="{{ path('admin_stocklocation_edit', { 'id': stockLocation.id }) }}"><i
                                                class="fa fa-edit"></i> edit</a>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock footer %}