<p>Hello!</p>
<p>You have received an invitation to register. Use the code below in the registration form.</p>
<h2>{{ code }}</h2>
{# example, assuming you have a route named "login" #}
<p>To register go <a href="{{ url('fos_user_registration_register') }}">here</a></p>

<p>
    Thanks!
</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">