{% extends "template/layout.html.twig" %}
{% block title %}Change Password{% endblock %}
{% block page_title  %}
    Change Password
{% endblock page_title %}

{% block page_name  %}
    <style>
        .page-content {
            margin-top: 0px;
            background-color: #eee;
            border-radius: 0 0 0 4px;
        }
    </style>
    Change Password
{% endblock page_name %}

{% block content %}
    <div class="row">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock content %}