{% extends ":template:layout.html.twig" %}

{% block title %}New Office{% endblock %}
{% block page_title %}
    New Office
{% endblock page_title %}

{% block page_name %}
    Office
{% endblock page_name %}

{% block content %}
    <div class="row">
        {% include "FOSUserBundle:Group:new_content.html.twig" %}
    </div>
{% endblock content %}
